.otp-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-container {
  margin-top: 6%;
  width: 900px;
  height: 500px;
  border-radius: 48px;
  background-color: #ece9f2;
}

.parent-otp-boxes {
  display: flex;
  flex-direction: column;
}

.otp-container h1 {
  margin-left: 6%;
  margin-top: 4%;
  font-size: 45px;
  color: #412a7d;
}

.otp-container p {
  color: #412a7d;
  margin-left: 6%;
  margin-top: -0.5%;
}

input[type="number"] {
  border: 1px solid #412a7d;
  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  height: 82px;
  width: 63px;
  border-radius: 24px;
  font-size: 24px;
  margin-left: -9%;
  margin-right: -9%;
  margin-top: 5%;
}

.otp-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.otp-next {
  align-self: center;
  margin-top: 8%;
  width: 125px;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: #5a5adf;
  color: white;
  border-radius: 18px;
  font-family: "Sofia Sans", sans-serif;
  font-size: 24px;
  box-shadow: 0 13px #412a7d;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  outline: none;
}

.otp-next:hover {
  background-color: rgb(116, 116, 236);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.otp-next:active {
  background-color: #5a5adf;
  box-shadow: 0 9px #412a7d;
  transform: translateY(4px);
}

/* Hide the arrows */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
