.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 6%;
  width: 900px;
  height: 500px;
  border-radius: 48px;
  background-color: #ece9f2;
}

.container h1 {
  margin-left: 6%;
  margin-top: 4%;
  font-size: 45px;
  color: #412a7d;
}

.container p {
  color: #412a7d;
  margin-left: 6%;
  margin-top: -0.5%;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

input[type="text"] {
  margin-top: -5%;
  width: 350px;
  height: 60px;
  border-radius: 24px;
  font-family: "Sofia Sans", sans-serif;
  border: 1px solid;
  border-color: #412a7d;
  font-size: 18px;
  margin-top: 10%;
  padding-left: 1%;
}

.next {
  margin-top: 8%;
  width: 125px;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: #5a5adf;
  color: white;
  border-radius: 18px;
  font-family: "Sofia Sans", sans-serif;
  font-size: 24px;
  box-shadow: 0 13px #412a7d;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  outline: none;
}

.next:hover {
  background-color: rgb(116, 116, 236);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.next:active {
  background-color: #5a5adf;
  box-shadow: 0 9px #412a7d;
  transform: translateY(4px);
}
